name: Scheduled Job Scraper

on:
  schedule:
    # Runs every 20 minutes
    - cron: '*/20 * * * *'
  workflow_dispatch: # Allows you to run it manually for testing

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/checkout@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          cd scraper
          npm install

      - name: Execute Scraper
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: |
          node scraper/scrape.js
